USE [master]
GO

CREATE DATABASE [SportsManagerDB]
GO

USE [SportsManagerDB]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentOID] [int] IDENTITY(1,1) NOT NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatorName] [nvarchar](max) NULL,
	[EventOID] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[CommentOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Events]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventOID] [int] IDENTITY(1,1) NOT NULL,
	[InitialDate] [datetime2](7) NOT NULL,
	[SportOID] [int] NULL,
	[LocalTeamOID] [int] NULL,
	[AwayTeamOID] [int] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[EventOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sports]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[SportOID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sports] PRIMARY KEY CLUSTERED 
(
	[SportOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teams]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teams](
	[TeamOID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Photo] [varbinary](max) NULL,
	[SportOID] [int] NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[TeamOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserOID] [int] IDENTITY(1,1) NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTeams]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeams](
	[UserOID] [int] NOT NULL,
	[TeamOID] [int] NOT NULL,
 CONSTRAINT [PK_UserTeams] PRIMARY KEY CLUSTERED 
(
	[UserOID] ASC,
	[TeamOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

GO
INSERT [dbo].[Comments] ([CommentOID], [DatePosted], [Description], [CreatorName], [EventOID]) VALUES (1, CAST(N'2018-10-09 19:12:40.1330975' AS DateTime2), N'Tremendo partido, aguante el bolso', N'superadmin', 2)
GO
INSERT [dbo].[Comments] ([CommentOID], [DatePosted], [Description], [CreatorName], [EventOID]) VALUES (2, CAST(N'2018-10-09 19:13:09.5707605' AS DateTime2), N'Tremendo clasico, con esto nos vamos derecho a ganar la anual', N'superadmin', 1)
GO
INSERT [dbo].[Comments] ([CommentOID], [DatePosted], [Description], [CreatorName], [EventOID]) VALUES (3, CAST(N'2018-10-09 19:14:11.7012509' AS DateTime2), N'Bueno, una lastima que perdimos, vamos arriba !!', N'prueba', 1)
GO
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Events] ON 

GO
INSERT [dbo].[Events] ([EventOID], [InitialDate], [SportOID], [LocalTeamOID], [AwayTeamOID]) VALUES (1, CAST(N'2018-10-20 00:00:00.0000000' AS DateTime2), 1, 1, 2)
GO
INSERT [dbo].[Events] ([EventOID], [InitialDate], [SportOID], [LocalTeamOID], [AwayTeamOID]) VALUES (2, CAST(N'2018-10-20 00:00:00.0000000' AS DateTime2), 1, 3, 2)
GO
INSERT [dbo].[Events] ([EventOID], [InitialDate], [SportOID], [LocalTeamOID], [AwayTeamOID]) VALUES (3, CAST(N'2018-10-20 00:00:00.0000000' AS DateTime2), 1, 4, 2)
GO
SET IDENTITY_INSERT [dbo].[Events] OFF
GO
SET IDENTITY_INSERT [dbo].[Sports] ON 

GO
INSERT [dbo].[Sports] ([SportOID], [Name]) VALUES (1, N'Futbol')
GO
INSERT [dbo].[Sports] ([SportOID], [Name]) VALUES (2, N'Basket')
GO
INSERT [dbo].[Sports] ([SportOID], [Name]) VALUES (3, N'Rugby')
GO
SET IDENTITY_INSERT [dbo].[Sports] OFF
GO
SET IDENTITY_INSERT [dbo].[Teams] ON 

GO
SET IDENTITY_INSERT [dbo].[Teams] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([UserOID], [Token], [Name], [LastName], [UserName], [Email], [IsAdmin], [Password]) VALUES (3, N'c9eabb01-b2ea-492c-bad8-9d6937d63b26', N'superadmin', N'superadmin', N'superadmin', N'a@a.com', 1, N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
GO
INSERT [dbo].[Users] ([UserOID], [Token], [Name], [LastName], [UserName], [Email], [IsAdmin], [Password]) VALUES (4, N'591e616b-60e0-45bd-8a78-421bde71c8e4', N'donVegeta', N'king', N'prueba', N'ddd@ccc.com', 0, N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
GO
INSERT [dbo].[Users] ([UserOID], [Token], [Name], [LastName], [UserName], [Email], [IsAdmin], [Password]) VALUES (5, N'db8fe171-338c-4fe3-b76d-a77ac766832b', N'Juan', N'Perez', N'Juan', N'juan@hotmail.com', 0, N'7110EDA4D09E062AA5E4A390B0A572AC0D2C0220')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
INSERT [dbo].[UserTeams] ([UserOID], [TeamOID]) VALUES (3, 1)
GO
INSERT [dbo].[UserTeams] ([UserOID], [TeamOID]) VALUES (5, 1)
GO
INSERT [dbo].[UserTeams] ([UserOID], [TeamOID]) VALUES (3, 2)
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Events_EventOID] FOREIGN KEY([EventOID])
REFERENCES [dbo].[Events] ([EventOID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Events_EventOID]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Sports_SportOID] FOREIGN KEY([SportOID])
REFERENCES [dbo].[Sports] ([SportOID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Sports_SportOID]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Teams_AwayTeamOID] FOREIGN KEY([AwayTeamOID])
REFERENCES [dbo].[Teams] ([TeamOID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Teams_AwayTeamOID]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Teams_LocalTeamOID] FOREIGN KEY([LocalTeamOID])
REFERENCES [dbo].[Teams] ([TeamOID])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Teams_LocalTeamOID]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Sports_SportOID] FOREIGN KEY([SportOID])
REFERENCES [dbo].[Sports] ([SportOID])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Sports_SportOID]
GO
ALTER TABLE [dbo].[UserTeams]  WITH CHECK ADD  CONSTRAINT [FK_UserTeams_Teams_TeamOID] FOREIGN KEY([TeamOID])
REFERENCES [dbo].[Teams] ([TeamOID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Teams_TeamOID]
GO
ALTER TABLE [dbo].[UserTeams]  WITH CHECK ADD  CONSTRAINT [FK_UserTeams_Users_UserOID] FOREIGN KEY([UserOID])
REFERENCES [dbo].[Users] ([UserOID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Users_UserOID]
GO
