USE [master]
GO

CREATE DATABASE [SportsManagerDB]
GO

USE [SportsManagerDB]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 9/10/2018 19:33:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatorName] [nvarchar](max) NULL,
	[DatePosted] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[EventId] [int] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventResults]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_EventResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InitialDate] [datetime2](7) NOT NULL,
	[MultipleTeamsEvent] [bit] NOT NULL,
	[SportId] [int] NULL,
	[ResultId] [int] NULL,
 CONSTRAINT [PK_Events] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventTeams]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventTeams](
	[EventId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_EventTeams] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sports]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[AllowdMultipleTeamsEvents] [bit] NOT NULL,
 CONSTRAINT [PK_Sports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TeamResults]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeamName] [nvarchar](max) NULL,
	[TeamPoints] [int] NOT NULL,
	[EventResultId] [int] NULL,
 CONSTRAINT [PK_TeamResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teams]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teams](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Photo] [varbinary](max) NULL,
	[SportId] [int] NULL,
 CONSTRAINT [PK_Teams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsAdmin] [bit] NOT NULL,
	[Password] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTeams]    Script Date: 22-Nov-18 07:03:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTeams](
	[UserId] [int] NOT NULL,
	[TeamId] [int] NOT NULL,
 CONSTRAINT [PK_UserTeams] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[TeamId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20181122213826_InitialCreate', N'2.1.4-rtm-31024')
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [CreatorName], [DatePosted], [Description], [EventId]) VALUES (1, N'superadmin', CAST(N'2018-11-22T18:52:22.1457892' AS DateTime2), N'Tremendo partido!!', 2)
INSERT [dbo].[Comments] ([Id], [CreatorName], [DatePosted], [Description], [EventId]) VALUES (2, N'santiago', CAST(N'2018-11-22T18:53:25.1373127' AS DateTime2), N'Vamo el bolso vamo!', 2)
SET IDENTITY_INSERT [dbo].[Comments] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([Id], [InitialDate], [MultipleTeamsEvent], [SportId], [ResultId]) VALUES (1, CAST(N'2018-12-01T04:03:00.0000000' AS DateTime2), 0, 1, NULL)
INSERT [dbo].[Events] ([Id], [InitialDate], [MultipleTeamsEvent], [SportId], [ResultId]) VALUES (2, CAST(N'2018-11-30T04:03:00.0000000' AS DateTime2), 0, 1, NULL)
INSERT [dbo].[Events] ([Id], [InitialDate], [MultipleTeamsEvent], [SportId], [ResultId]) VALUES (3, CAST(N'2018-11-27T05:03:00.0000000' AS DateTime2), 1, 3, NULL)
SET IDENTITY_INSERT [dbo].[Events] OFF
INSERT [dbo].[EventTeams] ([EventId], [TeamId]) VALUES (2, 1)
INSERT [dbo].[EventTeams] ([EventId], [TeamId]) VALUES (2, 2)
INSERT [dbo].[EventTeams] ([EventId], [TeamId]) VALUES (1, 3)
SET IDENTITY_INSERT [dbo].[Sports] ON 

INSERT [dbo].[Sports] ([Id], [Name], [AllowdMultipleTeamsEvents]) VALUES (1, N'Futbol', 0)
INSERT [dbo].[Sports] ([Id], [Name], [AllowdMultipleTeamsEvents]) VALUES (3, N'Atletismo', 1)
SET IDENTITY_INSERT [dbo].[Sports] OFF
SET IDENTITY_INSERT [dbo].[Teams] ON 

SET IDENTITY_INSERT [dbo].[Teams] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Token], [Name], [LastName], [Email], [IsAdmin], [Password]) VALUES (1, N'superadmin', N'00000000-0000-0000-0000-000000000000', N'defaultName', N'defaultLastName', N'aaa@bbb.com', 1, N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
INSERT [dbo].[Users] ([Id], [UserName], [Token], [Name], [LastName], [Email], [IsAdmin], [Password]) VALUES (2, N'santiago', N'00000000-0000-0000-0000-000000000000', N'usu1', N'diaz', N'santidiaz@mail.com', 0, N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
SET IDENTITY_INSERT [dbo].[Users] OFF
INSERT [dbo].[UserTeams] ([UserId], [TeamId]) VALUES (2, 1)
INSERT [dbo].[UserTeams] ([UserId], [TeamId]) VALUES (1, 2)
INSERT [dbo].[UserTeams] ([UserId], [TeamId]) VALUES (1, 3)
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Events_EventId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_EventResults_ResultId] FOREIGN KEY([ResultId])
REFERENCES [dbo].[EventResults] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_EventResults_ResultId]
GO
ALTER TABLE [dbo].[Events]  WITH CHECK ADD  CONSTRAINT [FK_Events_Sports_SportId] FOREIGN KEY([SportId])
REFERENCES [dbo].[Sports] ([Id])
GO
ALTER TABLE [dbo].[Events] CHECK CONSTRAINT [FK_Events_Sports_SportId]
GO
ALTER TABLE [dbo].[EventTeams]  WITH CHECK ADD  CONSTRAINT [FK_EventTeams_Events_EventId] FOREIGN KEY([EventId])
REFERENCES [dbo].[Events] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventTeams] CHECK CONSTRAINT [FK_EventTeams_Events_EventId]
GO
ALTER TABLE [dbo].[EventTeams]  WITH CHECK ADD  CONSTRAINT [FK_EventTeams_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EventTeams] CHECK CONSTRAINT [FK_EventTeams_Teams_TeamId]
GO
ALTER TABLE [dbo].[TeamResults]  WITH CHECK ADD  CONSTRAINT [FK_TeamResults_EventResults_EventResultId] FOREIGN KEY([EventResultId])
REFERENCES [dbo].[EventResults] ([Id])
GO
ALTER TABLE [dbo].[TeamResults] CHECK CONSTRAINT [FK_TeamResults_EventResults_EventResultId]
GO
ALTER TABLE [dbo].[Teams]  WITH CHECK ADD  CONSTRAINT [FK_Teams_Sports_SportId] FOREIGN KEY([SportId])
REFERENCES [dbo].[Sports] ([Id])
GO
ALTER TABLE [dbo].[Teams] CHECK CONSTRAINT [FK_Teams_Sports_SportId]
GO
ALTER TABLE [dbo].[UserTeams]  WITH CHECK ADD  CONSTRAINT [FK_UserTeams_Teams_TeamId] FOREIGN KEY([TeamId])
REFERENCES [dbo].[Teams] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Teams_TeamId]
GO
ALTER TABLE [dbo].[UserTeams]  WITH CHECK ADD  CONSTRAINT [FK_UserTeams_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTeams] CHECK CONSTRAINT [FK_UserTeams_Users_UserId]
GO
