<h1>
    Event List
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Start Date</th>
                <th scope="col">Sport</th>
                <th scope="col">Equipos<th>
                <th *ngIf="isAdmin" scope="col">Options<th>
            </tr>
        </thead>
        <tbody *ngIf="events != undefined">
            <tr *ngFor="let event of events">
                <td>{{ event.id }}</td>
                <td>{{ event.initialDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ event.sportName }}</td>
                <td>
                    <div *ngIf="!event.allowMultipleTeams" class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                {{event.teams[0].name}} VS {{event.teams[1].name}}
                            </li>
                        </ul>

                    </div>
                    <div *ngIf="event.allowMultipleTeams" class="card">
                        <ul class="list-group list-group-flush">
                            <li *ngFor="let team of event.teams; let i = index" class="list-group-item">
                                {{i+1}}. {{team.name}}
                            </li>
                        </ul>
                    </div>
                </td>

                <td class="float: right !important;" *ngIf="isAdmin">
                    <input type="button" (click)="selectCity($event, event)" value="Edit" />
                    <input type="button" (click)="deleteEvent($event, event)" value="Delete" />
                    <input *ngIf="isValidForSetupResult(event)" type="button" (click)="setupResult($event, event)" value="Setup result" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-success" role="alert" *ngIf="successMessage != null">
        {{ successMessage }}
    </div>
</div>