<hr />
<h1>
    Team list
</h1>
<hr />
<div class="container">
    <div class="card">
        <h5 class="card-header">Filtro</h5>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="sportNameInput">Name</label>
                    <input type="text" (input)="onSearchChange($event.target.value)" class="form-control" name="sportname"
                        id="sportnameInput" [(ngModel)]="teamRequestFilter.teamName" #nameee="ngModel" aria-describedby="sportNameHelp"
                        placeholder="Enter the team Name...">
                </div>

                <div class="form-group">
                    <label for="allowdMultipleTeamsEventsInput">Order by</label>
                    <!-- Group of default radios - option 1 -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radioManual" name="groupOfDefaultRadios"
                            #radioManual checked (click)="changeView($event, 1)">
                        <label class="custom-control-label" for="radioManual">Asc</label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" id="radioDynamic" name="groupOfDefaultRadios"
                            #radioDynamic (click)="changeView($event, 2)">
                        <label class="custom-control-label" for="radioDynamic">Desc</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr />
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Photo</th>
                <th scope="col" *ngIf="isAdmin">Acción</th>
                <th scope="col">Favorite</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of teams">
                <td>{{ team.name }}</td>
                <td>
                    <img src="data:image/png;base64,{{team.photoString}}" width="100" height="100" />
                </td>
                <td *ngIf="isAdmin">
                    <input type="button" class="btn btn-warning" (click)="selectTeam($event, team)" value="Edit" />
                    <input type="button" class="btn btn-danger" (click)="deleteTeam($event, team)" value="Delete" />
                    <input type="button" class="btn btn-primary" (click)="reportEvents($event, team)" value="Report events" />
                </td>
                <td>
                    <input *ngIf="!team.isFavorite" type="button" class="btn btn-success" (click)="addFavoriteTeam($event, team)" value="Add favorite" />
                    <div *ngIf="team.isFavorite">
                        In favorite
                        <input *ngIf="team.isFavorite" type="button" class="btn btn-info" (click)="deleteFavoriteTeam($event, team)" value="Delete favorite" />
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-success" role="alert" *ngIf="successMessage != null">
        {{ successMessage }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
        {{ errorMessage }}
    </div>

    <app-editteam *ngIf="isFormActive" (closeRequested)="closeForm($event)" [team]="selectedTeam"></app-editteam>
</div>