<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">{{title}}</span>

        <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Event <span class="sr-only">(current)</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/favTeamsEvents']">Favourite teams events</a>
                        <a class="dropdown-item" [routerLink]="['/events']">All events</a>
                        <a class="dropdown-item" [routerLink]="['/eventsCalendar']">Events Calendar</a>
                        <a class="dropdown-item" *ngIf="isAdmin" [routerLink]="['/addEvent']">Add event</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Users
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/listUsers']">All users</a>
                        <a class="dropdown-item" [routerLink]="['/addUser']">Add user</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Sports
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/listSport']">All sports</a>
                        <a class="dropdown-item" [routerLink]="['/sportResultTable']">Result table</a>
                        <a class="dropdown-item" [routerLink]="['/addSport']">Add sport</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Teams
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" [routerLink]="['/listTeams']">All teams</a>
                        <a class="dropdown-item" [routerLink]="['/addTeam']">Add team</a>
                    </div>
                </li>

                <li class="nav-item" *ngIf="isAdmin">
                    <a class="nav-link" [routerLink]="['/logs']">Logs Report</a>
                </li>
            </ul>

            <span class="navbar-button">
                <button class="btn btn-sm btn-outline-secondary" type="button" (click)="logOut($event)">LogOut</button>
            </span>
        </div>
    </nav>
</div>