<h1>
    Sport list
</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Allowd multiple teams on events</th>
                <th scope="col" *ngIf="isAdmin">Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sport of sports">
                <td>{{ sport.name }}</td>
                <td>{{ sport.allowdMultipleTeamsEvents }}</td>
                <td *ngIf="isAdmin">
                    <input type="button" class="btn btn-warning" (click)="selectSport($event, sport)" value="Edit" />
                    <input type="button" class="btn btn-danger" (click)="deleteSport($event, sport)" value="Delete" />
                    <input type="button" class="btn btn-primary" (click)="reportEvents($event, sport)" value="Report events" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-success" role="alert" *ngIf="successMessage != null">
            {{ successMessage }}
        </div>
    
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
            {{ errorMessage }}
        </div>

    <app-editsport *ngIf="isFormActive" (closeRequested)="closeForm($event)" [sport]="selectedSport"></app-editsport>
</div>
