<div class="container">
  <div class="card">
    <h5 class="card-header">Edit team</h5>
    <div class="card-body">

      <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="teamNameInput">Name</label>
          <input type="text" class="form-control" name="teamname" id="teamnameInput" required [(ngModel)]="team.newName"
            #nameee="ngModel" aria-describedby="teamNameHelp" placeholder="Enter the team Name...">
        </div>

        <div class="form-group">
            <label for="image">Old image</label>
            <img src="data:image/png;base64,{{team.photoString}}" width="100" height="100" />
          </div>

        <div class="form-group">
          <label for="image">Change image</label>
          <input type="file" class="form-control" name="image" id="imageInput" [(ngModel)]="team.newPhoto" required
          (change)="onChange($event)" #nameee="ngModel">
        </div>

        <div class="alert alert-success" role="alert" *ngIf="successMessage != null">
          {{ successMessage }}
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage != null">
          {{ errorMessage }}
        </div>

        <button type="submit" class="btn btn-primary">Modify</button>
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>