<div class="row justify-content-start">
  <div class="col-4">
    <br>
    <label>Select a sport: </label>
    <select class="form-control" [ngModel]="sports" name="sportSelected" (ngModelChange)="onChange($event)">
      <option *ngFor="let sport of sports;" [ngValue]="sport" #name>{{sport.name}}</option>
    </select>
  </div>
</div>

<br>
<div class="container" *ngIf="showCalendar">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
  </div>

  <br>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="calendarEvents" [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>

  <br><br><br>
</div>

<app-event-details *ngIf="showEventDetails" [event]="selectedEvent" (closeRequested)="closeDetails($event)"></app-event-details>