<br>
<h3>
    User favourite teams events
</h3>

<div class="basic-container">
    <mat-accordion *ngIf="events != undefined">
        <mat-expansion-panel *ngFor="let event of events">
            <mat-expansion-panel-header>
                <div *ngIf="!event.allowMultipleTeams">
                    <b>Date:</b> {{ event.initialDate | date: 'dd/MM/yyyy' }} <b>|| Sport:</b> {{ event.sportName }} <b>||
                        Teams:
                        [</b>{{event.teams[0].name}} vs {{event.teams[1].name}}<b>]</b>
                </div>
                <div *ngIf="event.allowMultipleTeams">
                    <span>
                        <b>Fecha: </b>{{ event.initialDate | date: 'dd/MM/yyyy' }} <b>|| Deporte: </b>{{
                        event.sportName }}
                    </span>
                    <b>Players: </b>
                    <span *ngFor="let team of event.teams; let i = index">
                        {{team.name}},
                    </span>
                </div>
            </mat-expansion-panel-header>

            <div class="card">
                <div class="card-header">
                    <h5 class="mt-0 mb-1">Comments</h5>
                </div>
                <div class="card-body">
                    <blockquote *ngFor="let comment of event.comments" class="blockquote mb-0">
                        <p>{{comment.description}}</p>
                        <footer class="blockquote-footer">Posted by: <cite title="Source Title">{{comment.creatorName}}</cite>,
                            {{comment.datePosted | date: 'dd/MM/yyyy'}}</footer>
                        <hr>
                    </blockquote>
                </div>

                <p class="text-md-left" *ngIf="event.comments == undefined || event.comments.length == 0">No comments...</p>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="events == undefined || events.length == 0" class="card">
        <div class="card-body">
            There are no favourite user teams events.
        </div>
    </div>
</div>