<div class="container">
  <div class="card">
    <h5 class="card-header">Login</h5>
    <div class="card-body">

      <form (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="userNameInput">User name</label>
          <input type="text" class="form-control" name="username" id="usernameInput" required
            [(ngModel)]="formModel.username" #nameee="ngModel"  aria-describedby="userNameHelp" placeholder="Enter user name...">


            <div *ngIf="nameee.invalid && (nameee.dirty || nameee.touched)"
                class="alert alert-danger">
            
              <div *ngIf="nameee?.errors.required">
                Name is required.
              </div>
              <div *ngIf="nameee?.errors.minlength">
                Name must be at least 4 characters long.
              </div>
              <div *ngIf="nameee?.errors.forbiddenName">
                Name cannot be Bob.
              </div>
            
            </div>


        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" name="password" id="passwordInput" required 
          [(ngModel)]="formModel.password"  placeholder="Enter your password...">
        </div>

        <button type="submit" class="btn btn-primary">LogIn</button>
      </form>
    </div>
  </div>
</div>
<script>
  // Example starter JavaScript for disabling form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>